.GameScreen {
  position: relative;
  background-color: #d8f7ff;
  .slide-view {
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    &.layer0 {
      span {
        background-size: 100% auto;
        background-image: url("../images/moon-07.png");
        animation: animatedB 90s infinite linear;
        background-position: top center;
      }
    }
    &.layer1 {
      span {
        background-image: url("../images/hills-06.png");
        animation: animatedB 90s infinite linear;
        background-position: top center;
        // background-size: 50% auto;
      }
    }
    &.layer2 {
      span {
        background-image: url("../images/hills-05.png");
        animation: animatedB 50s infinite linear;
        // background-size: 100% 700px;
        // background-position: top center;
        //opacity: 0.8;
      }
    }
    &.layer3 {
      span {
        background-image: url("../images/hills-04.png");
        animation: animatedB 30s infinite linear;
        // background-size: 200% 500px;
        // opacity: 0.9;
      }
    }
    &.layer4 {
      span {
        background-image: url("../images/hills-03.png");
        animation: animatedB 43s infinite linear;
        background-position: top center;
        //background-size: 217% auto;
      }
    }
    &.layer5 {
      span {
        background-image: url("../images/hills-02.png");
        animation: animatedB 12s infinite linear;
      }
    }
    &.layer6 {
      span {
        background-image: url("../images/hills-01.png");
        animation: animatedB 7s infinite linear;
        //background-size: 230% auto;
      }
    }
    span {
      height: 100%;
      display: block;

      background-size: contain;
      width: 1920px;
      background-size: 200% auto;
      background-position: bottom -153px left 0;
      background-repeat: repeat-x;
      animation: animatedB 12s infinite linear;
      // transition: all;
      // transition-delay: 12s;
      // transition-duration: 12s;
      // transition-timing-function: linear;
      // animation: animatedB;

      @keyframes animatedB {
        from {
          background-position: bottom -153px left 0;
        }
        100% {
          background-position: bottom -153px left 200%;
        }
      }
    }
  }

  .GameScreen-bg {
    position: relative;
    z-index: 2;
    background-size: contain;
    height: 450px;
    max-width: 100%;
    height: 600px;
    background-repeat: repeat-x;
    transition: all;

    @keyframes animatedBackground {
      from {
        background-position: bottom -153px left 0;
      }
      100% {
        background-position: bottom -153px right 200%;
      }
    }

    .logo-bx {
      img {
        position: relative;
        z-index: 99;
      }
      &:after {
        content: "";
        background-image: url("../images/logo-shape.png");
        position: absolute;
        left: 13px;
        top: -28px;
        width: 309px;
        height: 100%;
        background-repeat: no-repeat;
        opacity: 0.5;
        transform: rotate(-7deg);

        @media screen and (max-width: 991px) {
          left: 0px;
          top: -37px;

          transform: rotate(-4deg);
        }
      }
    }
    @media screen and (max-width: 575px) {
      background-size: cover;
      height: 300px;
    }
    .games-objecs {
      bottom: 0;
      width: 100%;
      .obstacle-move {
        position: absolute;
        left: 0;
      }
      .mountain {
        animation: leftRight linear 5s infinite;
      }
      .aeroplane {
        animation: leftRight linear 10s infinite;
      }
      .bird {
        animation: leftRight linear 30s infinite;
      }
      @keyframes leftRight {
        from {
          left: 100%;
          //transform: translateY(100%);
        }
        to {
          right: 100%;
          margin-top: 80px;
          //transform: translateY(-80%);
        }
      }
    }
  }
  .score {
    position: absolute;
    top: 19%;
    right: 0;
    background-color: #8ccfef;
    color: white;
    padding: 10px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 19px;
    max-width: 325px;
    width: 100%;
    @media screen and (max-width: 767px) {
      padding: 8px 9px;
      max-width: 190px;
      width: 100%;
    }
    h3 {
      font-size: 23px;
      margin: 0px;
      font-weight: 600;
      @media screen and (max-width: 767px) {
        font-size: 13px;
      }
      span {
        margin: 0px 10px;
      }
    }
  }
}

.character-list {
  .cartoon-list {
    padding: 90px;
    @media screen and (max-width: 575px) {
      padding: 30px 0px;
    }
    .cartoon-list-bx {
      .cartoon-list-img {
        width: 190px;
        max-width: 100%;
        height: 170px;
        border-radius: 20px;
        background-color: #dadada;
        display: flex;
        align-items: center;
        justify-content: center;

        &.cartoon-active {
          background-image: radial-gradient(white, #f66640);
        }

        img {
          @media screen and (max-width: 575px) {
            width: 80px;
          }
        }
        @media screen and (max-width: 991px) {
          margin: 0 auto;
        }
      }
      .cartoon-txt,
      a {
        font-size: 21px;
        font-weight: 400;
        margin: 25px 0px;
        text-align: center;
        color: #505050;
        @media screen and (max-width: 991px) {
          margin: 17px 0px;
          font-size: 16px;
        }
      }
    }
  }
  .contact-txt {
    text-align: center;
    font-weight: 400;
  }
}
